@charset "UTF-8";
/* Reset styles */

/*ページ整備*/
h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

nav {
	margin-bottom: 10px;
}

nav a {
	color: #fff;
	margin-right: 10px;
	text-decoration: none;
}

h1 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

html {
	height: 100%
}

/*上部の黒い箇所のcss*/
header {
	background-color: #333;
	padding: 20px;
	color: #fff;
	margin-bottom: 0;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-right a {
	color: #fff;
}


body {
	margin: 0;
	padding: 0;
	margin-top: 0;
	background-color: #dddce3;
	height: 100%;
	font-family:Arial, sans-serif;
}

section {
	padding: 20px;
}

#pin-search {
  float: left;
  padding: 0;
  margin: 0;
}

#pin-search h2 {
  margin-top: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

li:last-child {
	border-bottom: none;
}

h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

p {
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: #333;
	margin-right: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin-top: 10px;
}

/*ページ整備*/

/*タブ上条件整備*/
div#patarn-search {
	text-align: right;
	padding: 5px 5px 5px 20px;
	opacity: 0.9;
	display: grid;
	grid-template-columns: 1fr auto;
}

button#distance-button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	font-size: 20px;
}
/*タブ上条件整備*/

/*hrの整備*/
hr.tophr {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	border-width: 1px;
	border-style: solid;
}

hr.underhr {
	margin-top: 0;
	margin-bottom: 0px;
	border-width: 2px;
	color: black;
}
/*hrの整備*/

/*mapの整備*/
#map {
	float: left;
  margin: 20px;
  height: 1300px;
  width: 1300px;
  position: relative;
}

/*mapのピンをさす所まで含め全て*/
#map-style {
	overflow: hidden;
}
/*mapのピンをさす所まで含め全て*/
/*mapの整備*/


