@charset "UTF-8";
/* Reset styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

html {
	height: 100%
}

body {
	height: 100%
}

#map {
	height: 800px;
	width: 800px
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	padding: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#japanImage {
	margin-top: 20px;
	margin-left: 20px;
	width: 700px;
	height: 700px;
	border: 5px solid blue;
	padding: 10px;
}


nav {
	margin-bottom: 10px;
}

nav a {
	color: #fff;
	margin-right: 10px;
	text-decoration: none;
}

h1 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

input[type="text"] {
	padding: 5px;
	width: 200px;
}

button[type="submit"], button[type="button"] {
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

section {
	padding: 20px;
}

h2 {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

li:last-child {
	border-bottom: none;
}

h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

p {
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: #333;
	margin-right: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin-top: 10px;
}

