/*@charset "UTF-8";

/*タブ全てに適応*/
.tab_wrap {
/*<<<<<<< HEAD
	width: 37%;
	margin: 0;
=======
	width:95%;
	height:60%;
>>>>>>> 411fd883cf2066990570791577a9b6ba464b909e
	  float: left;
  padding: 1% 0 0 3%;
}

/*タブの切り替え*/
/*input[type="radio"] {
	display: none;
}

/*タブの名前*/
.tab_area {
	font-size: 0;
	margin: 0 10px;
}

.tab_area label {
	width: 150px;
	margin: 0 5px;
	display: inline-block;
	padding: 12px 0;
	color: #999;
	background: #ddd;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	transition: ease 0.2s opacity;
}

.tab_area label:hover {
	opacity: 0.5;
}

/*記入欄*/
.panel_area {
	background: #fff;
	    height: 85%;
	    width: 100%;
	    overflow-y: auto;
}
.panel_area::-webkit-scrollbar {
  display: none; /* Chrome/Safari用 */
}

.tab_panel {
	width: 100%;
/*<<<<<<< HEAD
	padding: 0 0 68% 0;
=======
	padding: 15px 0;
>>>>>>> 411fd883cf2066990570791577a9b6ba464b909e
	display: none;
	
}


.tab_panel table {
	width:100%;
	height:100%;
	text-align: center;
	
}

.tab_panel tr {
	font-size:24px;
	width: 95%;
	height: 25px;
	border: 2px solid black;
	margin-top: 4%;
}

.tab_panel th {
	font-size:24px;
	width: 50%;
	height: 25px;
	margin: 0 2.5% 0 2.5%;
}

.tab_panel td {
	width: 50%;
	height: 25px;
	font-size: 24px;
	letter-spacing: 1px;
<<<<<<< HEAD
=======
	text-align: center;
	
>>>>>>> 411fd883cf2066990570791577a9b6ba464b909e
}

#tab1:checked ~ .tab_area .tab1_label {
	background: #fff;
	color: #000;
}

#tab1:checked ~ .panel_area #panel1 {
	display: block;
}

#tab2:checked ~ .tab_area .tab2_label {
	background: #fff;
	color: #000;
}

#tab2:checked ~ .panel_area #panel2 {
	display: block;
}

#tab3:checked ~ .tab_area .tab3_label {
	background: #fff;
	color: #000;
}

#tab3:checked ~ .panel_area #panel3 {
	display: block;
}
