<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>家を建てる際の情報サイト</title>
<!-- modelで名前(name)緯度(longitude),経度(latitude)を渡してください -->


</head>
<body>
	<header>
		<page-top id=pagetop></page-top>
		<div>
			ここに受け取ったidを受け取ります : <span th:text="${id}"></span>
		</div>
	<div id="patarn-search">
	<div class=dropdown>
	|
	 <div id=distance-drop class="dropdown">
      <button class="distance-button" v-on:click="toggleDropdown">{{selectDistance}}</button>
      <ul class="dropdown-menu"  v-show="showDropdown">
        <li v-for="option in options" :key="option" v-on:click="selectOption(option)">{{option.distance}}</li>
      </ul>
    </div>
    |
    <!-- 住所検索 -->
    <!-- 緯度経度から近くの場所の地区を探すコントローラー(longitude,latitudeを引数に、地区名(name)と地区ID(id)の入ったaddressオブジェクトを返すpostメソッドの作成をお願いします -->
    <!-- idを引数に、画面を表示させるgetメソッドをお願いします -->
    <div id=address-drop class="dropdown">
      <button class="address-button" v-on:click="toggleDropdown">{{selectAddress}}</button>
      <ul class="dropdown-menu"  v-show="showDropdown">
        <li v-for="address in addressList" :key="address" v-on:click="selectAddress(address)">{{ address.name }}</li>
      </ul>
    </div>
     <!-- 住所検索終了 -->
     |
     <!-- 駅検索 -->
    <!-- 緯度経度から近くの場所の地区を探すコントローラー(longitude,latitudeを引数に、地区名(name)と地区ID(id)の入ったaddressオブジェクトを返すpostメソッドの作成をお願いします -->
    <!-- idを引数に、画面を表示させるgetメソッドをお願いします -->
    <div id=station-drop class="dropdown">
      <button class="station-button" v-on:click="toggleDropdown">{{selectStation}}</button>
      <ul class="dropdown-menu"  v-show="showDropdown">
        <li v-for="station in stationList" :key="station" v-on:click="selectStation(station)">{{ station.name }}</li>
      </ul>
    </div>
     <!-- 駅検索終了 -->
     |
	</div>
	</div>
	</header>
	<hr class="tophr">
	<hr class="underhr">
<body>
<div id="map-style">
<div id="map"></div>
  <div id="pin-search">
    <h2>検索条件</h2>
     <input type="checkbox" id="institutions" name="selection" value="institutions">
    <label for="institutions">施設情報</label>
    <input type="checkbox" id="price" name="selection" value="price">
    <label for="price">値段</label>
    <input type="checkbox" id="crimes" name="selection" value="crimes">
    <label for="crimes">犯罪情報</label>
</div>	
<div class="tab_wrap">
	<input id="tab1" type="radio" name="tab_btn" checked>
	<input id="tab2" type="radio" name="tab_btn">
	<input id="tab3" type="radio" name="tab_btn">

	<div class="tab_area">
		<label class="tab1_label" for="tab1">施設情報</label>
		<label class="tab2_label" for="tab2">値段</label>
		<label class="tab3_label" for="tab3">犯罪情報</label>
	</div>
	<div class="panel_area">
		<div id="panel1" class="tab_panel">
			<p>panel1</p>
		</div>
		<div id="panel2" class="tab_panel">
			<p>panel2</p>
		</div>
		<div id="panel3" class="tab_panel">
			<p>panel3</p>
		</div>
	</div>
</div>
		</div>


	<section>
		<h2>物件一覧</h2>
		<ul>
			<li>
				<h3>○○○○の家</h3> <img src="image.jpg" alt="物件画像">
				<p>3LDK | 100m² | ¥3,000万</p> <a href="/property/1">詳細を見る</a>
				<button type="button">お気に入りに追加</button>
			</li>
			<li>
				<h3>△△△△マンション</h3> <img src="image.jpg" alt="物件画像">
				<p>2LDK | 70m² | ¥2,500万</p> <a href="/property/2">詳細を見る</a>
				<button type="button">お気に入りに追加</button>
			</li>
			<li>
				<h3>××××ハイツ</h3> <img src="image.jpg" alt="物件画像">
				<p>1LDK | 50m² | ¥1,500万</p> <a href="/property/3">詳細を見る</a>
				<button type="button">お気に入りに追加</button>
			</li>
			<!-- 物件リストを追加する場合はここに追記 -->
		</ul>

		<nav>
			<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a>
			<a href="#">5</a> <a href="#">次へ</a>
		</nav>
	</section>
	
</body>

<footer>
	<page-end id=pageend></page-end>
</footer>

<script
	src="https://maps.google.com/maps/api/js?key=AIzaSyAG2tgnkXGl888HTaCPW8Bo9VPr8ytP8yc&language=ja"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/js/googlemap.js"></script>
<script></script>
<script src="/js/allpage.js"></script>
<script src="/js/selector.js"></script>

<link rel="stylesheet" th:href="@{/css/map.css}" />
<link rel="stylesheet" th:href="@{/css/animation.css}" />
<link rel="stylesheet" th:href="@{/css/selector.css}" />
<link rel="stylesheet" th:href="@{/css/tab.css}" />

<!-- 以下コントローラーから情報を取得-->
<input type="hidden" id="longitudeInput" th:value="${mapInfo.longitude}">
<input type="hidden" id="latitudeInput" th:value="${mapInfo.latitude}"> 
<!--  以上コントローラーから情報を取得-->

</html>